label {
  font-weight: 500;
}

.input-group:not(.has-validation)>.form-control:not(:last-child),
.input-group:not(.has-validation)>.custom-select:not(:last-child),
.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after {
  border-right: none;
}

.form-control {

  &:focus {
    box-shadow: none;
    border-color: #ced4da;
  }

}

.col-lg-4 .input-group {
  .form-control {
    border-color: #17a2b8;
    border-right: none;
    box-shadow: none;
  }

  .input-group-text {
    border-color: #17a2b8;
  }
}

::placeholder {
  color: #ecf0f1;
}
